* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family:  "Lato", sans-serif;
	justify-content: center;
	align-items: center;
	background: linear-gradient(45deg, rgb(2, 57, 88), rgb(0, 182, 255));
}


h2{
	font-size: 5rem;
	font-weight: bold;
	padding: 1rem;

}


.coming-soon{
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

}
.countdown {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.day,.hour,.minute,.second{
	font-size: 3rem;
}

.waiting {
	padding-top: 1rem;
	width: 50%;
	max-width: 400px;
}

.mensaje {
	text-align: center;
}
